        
<section class="trabajos">
        <div class="contenedor">
            <h3 class="titulo">Trabajos</h3>
                    
            <div class="contenedor-trabajos">
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/1.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/2.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/3.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/4.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/5.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/6.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/7.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
                <div class="trabajo">
                    <div class="thumb">
                        <img src="../assets/imagenes/8.jpg" alt="Lorem Ipsum">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Lorem Ipsum</p>
                        <p class="categoria">HTML - CSS - PHP</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
