
<!-- nav -->
<nav>

    <section class="redes-sociales">
        <div class="contenedor">

            <img src="../assets/imagenes/argentina.png" alt="70" height="70">

            <a class="twitter" href="http://www.twitter.com/falconmasters"><i class="fa fa-twitter"><img src="" alt="30" width="30"></i></a>
            <a class="facebook" href="http://www.facebook.com/falconmasters"><i class="fa-brands fa-facebook"><img src="../assets/imagenes/facebook.svg" alt="30" width="30"></i></a>
            <a class="youtube" href="http://www.youtube.com/falconmasters"><i class="fa fa-youtube-play"><img src="../assets/imagenes/youtube.svg" alt="30" width="30"></i></a>
            <a class="github" href="http://www.github.com/falconmasters"><i class="fa fa-github"><img src="../assets/imagenes/github.svg" alt="30" width="30"></i></a>
            <a class="instagram" href="http://www.instagram.com/falconmasters"><i class="fa fa-instagram"><img src="../assets/imagenes/instagram.svg" alt="30" width="30"></i></a>
            
            <button class="btn btn-outline-success" type="submit">Login</button>
            </div>

        
    </section>

    
</nav>
