nav{
            
    border-color: aliceblue;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 600px;
  
  }   
  nav .redes-sociales {
    background: #1e2b38;
    padding: 10px 0; }
    nav .redes-sociales .contenedor {
      display: flex;
      justify-content: center; }
      nav .redes-sociales .contenedor a {
        color: #fff;
        text-align: center;
        width: 100px;
        font-size: 25px;
        padding: 15px 0;
        display: block;
        margin: 0 20px;
        border-radius: 3px; }
      nav .redes-sociales .contenedor .twitter:hover {
        background: #55acee; }
      nav .redes-sociales .contenedor .facebook:hover {
        background: #3b5998; }
      nav .redes-sociales .contenedor .youtube:hover {
        background: #cd201f; }
      nav .redes-sociales .contenedor .github:hover {
        background: #666666; }
      nav .redes-sociales .contenedor .instagram:hover {
        background: #3f729b; }
  